#menuHorizontal {
    background-color: #342E37;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#divLinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#divLinks a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#divBusca {
    display: flex;
    flex-direction: row;
}

#divBusca input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 250px;
    padding: 3px;
}

#lupa {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 25px;
    width: 25px;
    background-color: #FAFFFD;
    display: flex;
    justify-content: center;
    align-items: center;
}